/visitanteapp/__pycache__/*
/apps/visitors/__pycache__/*
/apps/visitors/migrations/*
/apps/vehicles/__pycache__/*
/apps/vehicles/migrations/*
/apps/visitschedules/__pycache__/*
/apps/visitschedules/migrations/*
/apps/buildings/__pycache__/*
/apps/buildings/migrations/*